/.pytest_cache
__pycache__/
.venv/
.local/
.env
.env.local
.cli_cache/
*.pyc
*.egg-info/
dist/
build/
.venv_min/
study/*

# macOS / Finder / AppleDouble
.DS_Store
._*
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
.DocumentRevisions-V100
.TemporaryItems
.VolumeIcon.icns
.fseventsd
data/
.cursor/
